.activeLink h2,
.activeLink p {
  color: #2ab4a7;
}

@font-face {
  font-family: Flexo;
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Flexo-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Flexo-Demi;
  font-display: swap;
  src: url(/fonts/Flexo-Regular.woff2) format('woff2');
}
