.activeLink h2,
.activeLink p {
  color: #2ab4a7;
}

@font-face {
  font-family: Flexi;
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Flexo-Bold.ttf);
}

@font-face {
  font-family: Flexi-Demi;
  font-display: swap;
  src: url(/fonts/Flexo-Demi.ttf);
}
